# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Libraries
*.lib
*.a
*.so
*.dll

# Build directories
build/
Debug/
Release/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt

# VS Code
.vscode/

# CLion
.idea/

# Visual Studio
.vs/

# Mac
.DS_Store

# Windows
Thumbs.db
